.ww-form-control {
  display: block;
  margin-bottom: 1rem;
}

.ww-form-label {
  display: block;
}

.ww-input {
  width: 100%;
  min-height: 2.5rem;
  box-sizing: border-box;
}

.ww-textarea {
  min-height: 6rem;
}

.ww-dropdown-container {
  position: relative;
}

.ww-dropdown-indicator {
  pointer-events: none;
}

.grecaptcha-badge {
  visibility: hidden;
}
